<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Foggyline_Office" setup_version="1.0.0">
        <!--Dependencias de Magento para este Módulo-->
        <sequence>
            <module name="Magento_Eav"/>
        </sequence>
    </module>
</config>